* text=auto !eol
/.travis.yml -text
/CMakeLists.txt -text
/CMakeLists.txt.old -text
/LICENSE -text
/README.md -text
/README_EN.txt -text
/SGP4-VER.TLE -text
/changelog.txt -text
libsgp4/CMakeLists.txt -text
libsgp4/CoordGeodetic.cpp -text
libsgp4/CoordGeodetic.h -text
libsgp4/CoordTopocentric.cpp -text
libsgp4/CoordTopocentric.h -text
libsgp4/DateTime.cpp -text
libsgp4/DateTime.h -text
libsgp4/DecayedException.cpp -text
libsgp4/DecayedException.h -text
libsgp4/Defines.h -text
libsgp4/Eci.cpp -text
libsgp4/Eci.h -text
libsgp4/Globals.cpp -text
libsgp4/Globals.h -text
libsgp4/Observer.cpp -text
libsgp4/Observer.h -text
libsgp4/OrbitalElements.cpp -text
libsgp4/OrbitalElements.h -text
libsgp4/SGP4.cpp -text
libsgp4/SGP4.h -text
libsgp4/SatelliteException.cpp -text
libsgp4/SatelliteException.h -text
libsgp4/SolarPosition.cpp -text
libsgp4/SolarPosition.h -text
libsgp4/SysDefine.h -text
libsgp4/SysUndefine.h -text
libsgp4/TimeSpan.cpp -text
libsgp4/TimeSpan.h -text
libsgp4/Tle.cpp -text
libsgp4/Tle.h -text
libsgp4/TleException.cpp -text
libsgp4/TleException.h -text
libsgp4/Util.cpp -text
libsgp4/Util.h -text
libsgp4/Vector.cpp -text
libsgp4/Vector.h -text
passpredict/CMakeLists.txt -text
passpredict/passpredict.cpp -text
runtest/CMakeLists.txt -text
runtest/runtest.cpp -text
sattrack/CMakeLists.txt -text
sattrack/sattrack.cpp -text
